<!DOCTYPE html>
<html>
  <head>
    <title>For Him</title>
    <style>
      body{
      background-color: black;
    }
      h2 {
        position: absolute;
        top:250px;
        left: 0;
        right: 0;
        margin: 15px 0;
        padding: 0 5px;
        font-family: arial;
        font-size: 100px;
        color: gold;
      }

      
    </style>
  </head>
  <body>
    
    <div>
       <h2 id="acc3"><center>{{acc3}}</center></h2>
    </div>
    <script type="text/javascript">
    var color_text= document.getElementById('acc3');
    var color_ary = new Array('#F90','#60F','#6C0','#03C','#C30','#0F0','#90F','#06F','#300','#990'); // array of 10 colors
    function colr(){
    var d = new Date();
    var sec = d.getSeconds() % 10;
    color_text.style.color = color_ary[sec];
    setTimeout('colr()', 1000);    
    }
   window.addEventListener('onload', colr())
   </script>
  </body>
</html>